main {
  text-align: center;
}

html {
 background-color: #325C59;
 font-family: 'Atkinson Hyperlegible Mono', sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
 color: white;
}

hr {
border-top: 1px solid black;
}

.button {
    /* Display and layout */
    display: inline-block; /* Allows setting padding, width, and height */
    padding: 10px 20px;    /* Space between text and border */
    text-align: center;    /* Center the text */
    text-decoration: none; /* Removes the default underline for links */
    cursor: pointer;       /* Changes the mouse cursor to a pointer */

/* Appearance */
    background-color: #007bff; /* Button background color */
    color: gray;              /* Text color */
    border: 1px solid #0056b3; /* Border for definition */
    border-radius: 5px;        /* Rounded corners */
    font-size: 16px;           /* Text size */
    font-weight: bold;         /* Text thickness */
}
a {
color: white;
text-decoration: none;
}
